<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/send_mail" method="post" >
      <input type="email" name="mail" placeholder="send mail">
      <button>Send mail</button>

    </form>
  </body>
</html>
